<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">

    <a
      href="{{ url_for('views.static_html', route='/') }}"
      class="navbar-brand"
    >
      {% if Configs.ctf_logo %}
        <img
          class="img-responsive ctf_logo"
          src="{{ url_for('views.files', path=Configs.ctf_logo) }}"
          alt="{{ Configs.ctf_name }}"
          height="25"
        >
      {% else %}
        {{ Configs.ctf_name }}
      {% endif %}
    </a>


    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#base-navbars"
      aria-controls="base-navbars"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <div
      class="collapse navbar-collapse"
      id="base-navbars"
    >

      <!-- =====================================================
           LEFT NAVIGATION
      ====================================================== -->

      <ul class="navbar-nav me-auto">

        {% for page in Plugins.user_menu_pages %}

          <li class="nav-item">

            <a
              class="nav-link"
              href="{{ page.route }}"
              {% if page.link_target %}
                target="{{ page.link_target }}"
              {% endif %}
            >
              {{ page.title }}
            </a>

          </li>

        {% endfor %}


        <li class="nav-item">

          <a
            class="nav-link"
            href="{{ url_for('views.static_html', route='/') }}"
          >
            Home
          </a>

        </li>


        {% if Configs.account_visibility != 'admins' %}

          <li class="nav-item">

            <a
              class="nav-link"
              href="{{ url_for('users.listing') }}"
            >
              {% trans %}Labs{% endtrans %}
            </a>

          </li>


          {% if Configs.user_mode == 'teams' %}

            <li class="nav-item">

              <a
                class="nav-link"
                href="{{ url_for('teams.listing') }}"
              >
                {% trans %}Teams{% endtrans %}
              </a>

            </li>

          {% endif %}

        {% endif %}


        {% if
          Configs.account_visibility != 'admins'
          and
          Configs.score_visibility != 'admins'
        %}

          <li class="nav-item">

            <a
              class="nav-link"
              href="{{ url_for('scoreboard.listing') }}"
            >
              {% trans %}Scoreboard{% endtrans %}
            </a>

          </li>

        {% endif %}


        <li class="nav-item">

          <a
            class="nav-link"
            href="{{ url_for('challenges.listing') }}"
          >
            {% trans %}Challenges{% endtrans %}
          </a>

        </li>

      </ul>


      <hr class="d-sm-flex d-md-flex d-lg-none">


      <!-- =====================================================
           RIGHT NAVIGATION
      ====================================================== -->

      <ul
        class="navbar-nav ms-md-auto d-block d-sm-flex d-md-flex"
      >

        {% if authed() %}


          <!-- =================================================
               ADMIN PANEL
          ================================================== -->

          {% if is_admin() %}

            <li class="nav-item">

              <a
                class="nav-link"
                href="{{ url_for('admin.view') }}"
              >

                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="{% trans %}Admin Panel{% endtrans %}"
                >
                  <i
                    class="fas fa-wrench d-none d-md-inline d-lg-none"
                  ></i>
                </span>


                <span
                  class="d-sm-inline d-md-none d-lg-inline"
                >

                  <i class="fas fa-wrench pe-1"></i>

                  {% trans %}Admin Panel{% endtrans %}

                </span>

              </a>

            </li>

          {% endif %}


          <!-- =================================================
               CYBERREALM NOTIFICATIONS
          ================================================== -->

          <li
  class="nav-item dropdown"
  x-data="CyberRealmNotifications"
>

  <button
    type="button"
    class="nav-link dropdown-toggle cyber-notification-trigger"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    @click.stop="refresh()"
  >

    <span class="cyber-notification-bell">
      <i class="fas fa-bell"></i>
    </span>

    <span class="cyber-notification-label">
      {% trans %}Notifications{% endtrans %}
    </span>

    <span
      x-show="unreadCount > 0"
      x-text="unreadCount"
      class="badge rounded-pill bg-danger badge-notification"
    ></span>

  </button>


  <div
    class="dropdown-menu dropdown-menu-end cyber-notification-menu"
  >

    <div class="cyber-notification-header">

      <span class="cyber-notification-header-title">
        Notifications
      </span>

      <button
        type="button"
        class="cyber-notification-mark-all"
        x-show="unreadCount > 0"
        @click.stop="markAllAsRead()"
      >
        Mark all as read
      </button>

    </div>


    <div
      x-show="loading"
      class="cyber-notification-loading"
    >
      <i class="fas fa-circle-notch fa-spin"></i>
      Loading...
    </div>


    <div
      x-show="
        !loading &&
        notifications.length === 0
      "
      class="cyber-notification-empty"
    >
      <i class="fas fa-bell-slash"></i>

      <span>
        No notifications yet.
      </span>
    </div>


    <div
      x-show="
        !loading &&
        notifications.length > 0
      "
      class="cyber-notification-list"
    >

      <template
        x-for="notification in notifications"
        :key="notification.id"
      >

        <button
          type="button"
          class="cyber-notification-item"
          :class="{
            unread:
              unread.some(
                n => n.id === notification.id
              )
          }"
          @click="markAsRead(notification.id)"
        >

          <span
            class="cyber-notification-icon"
            x-text="icon(notification)"
          ></span>


          <span
            class="cyber-notification-content"
          >

            <span
              class="cyber-notification-title"
              x-text="notification.title"
            ></span>

            <span
              class="cyber-notification-message"
              x-html="notification.html"
            ></span>

            <span
              class="cyber-notification-date"
              x-text="formatDate(notification.date)"
            ></span>

          </span>


          <span
            x-show="
              unread.some(
                n => n.id === notification.id
              )
            "
            class="cyber-notification-dot"
          ></span>

        </button>

      </template>

    </div>

  </div>

</li>


          <!-- =================================================
               TEAM
          ================================================== -->

          {% if Configs.user_mode == "teams" %}

            <li class="nav-item">

              <a
                class="nav-link"
                href="{{ url_for('teams.private') }}"
              >

                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="{% trans %}Team{% endtrans %}"
                >

                  <i
                    class="fas fa-users d-none d-md-inline d-lg-none"
                  ></i>

                </span>


                <span
                  class="d-sm-inline d-md-none d-lg-inline"
                >

                  <i class="fas fa-users pe-1"></i>

                  {% trans %}Team{% endtrans %}

                </span>

              </a>

            </li>

          {% endif %}


          <!-- =================================================
               PROFILE
          ================================================== -->

          <li class="nav-item">

            <a
              class="nav-link"
              href="{{ url_for('users.private') }}"
            >

              <span
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="{% trans %}Profile{% endtrans %}"
              >

                <i
                  class="fas fa-user-circle d-none d-md-inline d-lg-none"
                ></i>

              </span>


              <span
                class="d-sm-inline d-md-none d-lg-inline"
              >

                <i class="fas fa-user-circle pe-1"></i>

                {% trans %}Profile{% endtrans %}

              </span>

            </a>

          </li>


          <!-- =================================================
               SETTINGS
          ================================================== -->

          <li class="nav-item">

            <a
              class="nav-link"
              href="{{ url_for('views.settings') }}"
            >

              <span
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="{% trans %}Settings{% endtrans %}"
              >

                <i
                  class="fas fa-cogs d-none d-md-inline d-lg-none"
                ></i>

              </span>


              <span
                class="d-sm-inline d-md-none d-lg-inline"
              >

                <i class="fas fa-cogs pe-1"></i>

                {% trans %}Settings{% endtrans %}

              </span>

            </a>

          </li>


          <!-- =================================================
               LOGOUT
          ================================================== -->

          <li class="nav-item">

            <a
              class="nav-link"
              href="{{ url_for('auth.logout') }}"
            >

              <span
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="{% trans %}Logout{% endtrans %}"
              >

                <i
                  class="fas fa-sign-out-alt d-none d-md-inline d-lg-none"
                ></i>

              </span>


              <span
                class="d-sm-inline d-md-none d-lg-inline"
              >

                <i
                  class="fas fa-sign-out-alt pe-1"
                ></i>

                <span class="d-lg-none">
                  {% trans %}Logout{% endtrans %}
                </span>

              </span>

            </a>

          </li>


        {% else %}


          <!-- =================================================
               REGISTER
          ================================================== -->

          {% if registration_visible() %}

            <li class="nav-item">

              <a
                class="nav-link"
                href="{{ url_for('auth.register') }}"
              >

                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="{% trans %}Register{% endtrans %}"
                >

                  <i
                    class="fas fa-user-plus d-none d-md-inline d-lg-none"
                  ></i>

                </span>


                <span
                  class="d-sm-inline d-md-none d-lg-inline"
                >

                  <i class="fas fa-user-plus pe-1"></i>

                  {% trans %}Register{% endtrans %}

                </span>

              </a>

            </li>

          {% endif %}


          <!-- =================================================
               LOGIN
          ================================================== -->

          <li class="nav-item">

            <a
              class="nav-link"
              href="{{ url_for('auth.login') }}"
            >

              <span
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="{% trans %}Login{% endtrans %}"
              >

                <i
                  class="fas fa-sign-in-alt d-none d-md-inline d-lg-none"
                ></i>

              </span>


              <span
                class="d-sm-inline d-md-none d-lg-inline"
              >

                <i class="fas fa-sign-in-alt pe-1"></i>

                {% trans %}Login{% endtrans %}

              </span>

            </a>

          </li>

        {% endif %}


        <!-- =================================================
             LANGUAGE
        ================================================== -->

        <li class="nav-item dropdown">

          <button
            class="nav-link dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >

            <i class="fas fa-language d-none d-md-inline"></i>

            <span class="d-sm-inline d-md-none">

              <i class="fas fa-language pe-1"></i>

              {% trans %}Change language{% endtrans %}

            </span>

          </button>


          <form x-data="LanguageForm">

            <ul class="dropdown-menu dropdown-menu-end">

              {% set curr_lang = get_locale() %}

              {%- for lang in Languages.names.items() %}

                <li>

                  <span
                    class="
                      dropdown-item
                      {{ 'bg-primary text-white'
                         if (curr_lang == lang[0]) }}
                    "
                    @click="set"
                    value="{{ lang[0] }}"
                  >
                    {{ lang[1] }}
                  </span>

                </li>

              {%- endfor %}

            </ul>

          </form>

        </li>


        <!-- =================================================
             THEME SWITCHER
        ================================================== -->

      </ul>

    </div>

  </div>
</nav>