{% extends "core/base.html" %}

{% block stylesheets %}
    {{ super() }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Inter:wght@300;400;500;600&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('views.themes', path='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('views.themes', path='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('views.themes', path='css/animations.css') }}">
{% endblock %}


{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('views.themes', path='js/main.js') }}"></script>
{% endblock %}