{% extends "base.html" %}

{% block content %}

{% if request.path == "/" %}

    {% if Session.id %}

        {% include "dashboard.html" %}

    {% else %}

        {% include "home/hero.html" %}

    {% endif %}

{% else %}

    <div class="container py-5">
        {{ content | safe }}
    </div>

{% endif %}

{% endblock %}


{% block scripts %}

    {% if request.path == "/" and Session.id %}
        {{ Assets.js("assets/js/dashboard.js") }}
    {% endif %}

    {{ Assets.js("assets/js/page.js") }}

{% endblock %}